<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorten_url</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'shorten_url.css' %}" type="text/css">
</head>
<body>
<div id="header">

    <p id="name_site">SHORTENER URLS</p>
    {% block exit %}
    {% endblock %}
</div>

<div id="body">
    {% block shorten_url %}
    <div class="authenticate">
        <form action="{% url 'registration' %}" method="get" >
        <input class="btn btn-primary" type="submit" value="Регистрация">
    </form>
    <form action="{% url 'user_login' %}" method="get">
        <input class="btn btn-success" type="submit" value="Вход">
    </form>
    </div>

    {% endblock %}


    {% block registration %}
    {% endblock %}

</div>



</body>
</html>